<launch>
    <!-- <arg name="namespace" default="cf1" /> -->
    <arg name="ids" default="" /> 
    <arg name="use_copilot" default="false" />
    <arg name="use_joy" default="true" />

    <arg name="use_smc" default="1" />
    <arg name="is_PD_ASMC" default="0" />

    <!-- # SMC MODE -> 5 = Desligado, 0 = Asmc, 1 = Super Twist, 2 =  Roy SMC -->
    <arg name="smc_mode" default="5" />
    
    <arg name="k_smc_roll" default="0" />
    <arg name="k_smc_pitch" default="0" />
    <arg name="k_smc_yaw" default="0" />

    <arg name="lambda_smc_roll" default="5" />
    <arg name="lambda_smc_pitch" default="5" />
    <arg name="lambda_smc_yaw" default="1" />

    <arg name="sigma_smc_roll" default="0.01" />
    <arg name="sigma_smc_pitch" default="0.01" />
    <arg name="sigma_smc_yaw" default="1" />

    <arg name="k_phi" default="10.0"/>
    <arg name="k_theta" default="10.0"/>
    <arg name="k_psi" default="2.5"/>

    <arg name="sat_roll" default="5"/>
    <arg name="sat_pitch" default="5"/>
    <arg name="sat_yaw" default="3"/>

    <arg name="ki_smc_roll" default="80000" />
    <arg name="ki_smc_pitch" default="80000" />
    <arg name="ki_smc_yaw" default="0" />

    <arg name="delta_smc_roll" default="0.5" />
    <arg name="delta_smc_pitch" default="0.5" />
    <arg name="delta_smc_yaw" default="0" />

    <arg name="kj_smc_roll" default="300.0" />
    <arg name="kj_smc_pitch" default="300.0" />
    <arg name="kj_smc_yaw" default="0.0" />

    <arg name="sigma_sdelta_smc_roll" default="0.75" />
    <arg name="sigma_sdelta_smc_pitch" default="0.75" />
    <arg name="sigma_sdelta_smc_yaw" default="1" />

    <arg name="k_min_smc" default="1000" />
    <arg name="k_max_smc" default="8000" />

    <!-- Super Twist -->
    <arg name="i_st_limit_smc" default="20000" />

    <arg name="ki_smc_st_roll" default="300" />
    <arg name="ki_smc_st_pitch" default="300" />
    <arg name="ki_smc_st_yaw" default="0" />

    <arg name="kj_smc_st_roll" default="25000.0" />
    <arg name="kj_smc_st_pitch" default="25000.0" />
    <arg name="kj_smc_st_yaw" default="0.0" />

    <!-- Roy SMC -->
    <arg name="alpha0" default="1" />
    <arg name="alpha1" default="1" />

    <arg name="h0" default="1000" />
    <arg name="h1" default="1000" />

    <!-- <group ns="$(arg namespace)"> -->
    <node pkg="crazyflie_server" type="crazyflie_server_smc.py" name="crazyflie_server_node" output="screen">
        <rosparam file="$(find crazyflie_server)/config/crazyflie_config.yaml" command="load" />
        <param if="$(eval arg('ids') != '')" name="ids" value="$(arg ids)" />
        <param name="is_running_with_copilot" value="$(arg use_copilot)" />

        <param name="k_smc_roll" value="$(arg k_smc_roll)" />
        <param name="k_smc_pitch" value="$(arg k_smc_pitch)" />
        <param name="k_smc_yaw" value="$(arg k_smc_yaw)" />

        <param name="lambda_smc_roll" value="$(arg lambda_smc_roll)" />
        <param name="lambda_smc_pitch" value="$(arg lambda_smc_pitch)" />
        <param name="lambda_smc_yaw" value="$(arg lambda_smc_yaw)" />

        <param name="sigma_smc_roll" value="$(arg sigma_smc_roll)" />
        <param name="sigma_smc_pitch" value="$(arg sigma_smc_pitch)" />
        <param name="sigma_smc_yaw" value="$(arg sigma_smc_yaw)" />

        <param name="k_phi" value="$(arg k_phi)" />
        <param name="k_theta" value="$(arg k_theta)" />
        <param name="k_psi" value="$(arg k_psi)" />

        <param name="sat_roll" value="$(arg sat_roll)" />
        <param name="sat_pitch" value="$(arg sat_pitch)" />
        <param name="sat_yaw" value="$(arg sat_yaw)" />

        <param name="ki_smc_roll" value="$(arg ki_smc_roll)" />
        <param name="ki_smc_pitch" value="$(arg ki_smc_pitch)" />
        <param name="ki_smc_yaw" value="$(arg ki_smc_yaw)" />

        <param name="delta_smc_roll" value="$(arg delta_smc_roll)" />
        <param name="delta_smc_pitch" value="$(arg delta_smc_pitch)" />
        <param name="delta_smc_yaw" value="$(arg delta_smc_yaw)" />

        <param name="kj_smc_roll" value="$(arg kj_smc_roll)" />
        <param name="kj_smc_pitch" value="$(arg kj_smc_pitch)" />
        <param name="kj_smc_yaw" value="$(arg kj_smc_yaw)" />

        <param name="sigma_sdelta_smc_roll" value="$(arg sigma_sdelta_smc_roll)" />
        <param name="sigma_sdelta_smc_pitch" value="$(arg sigma_sdelta_smc_pitch)" />
        <param name="sigma_sdelta_smc_yaw" value="$(arg sigma_sdelta_smc_yaw)" />

        <param name="k_min_smc" value="$(arg k_min_smc)" />
        <param name="k_max_smc" value="$(arg k_max_smc)" />

        <param name="use_smc" value="$(arg use_smc)" />
        <param name="is_PD_ASMC" value="$(arg is_PD_ASMC)" />
        <param name="smc_mode" value="$(arg smc_mode)" />
        <param name="i_st_limit_smc" value="$(arg i_st_limit_smc)" />

        <param name="ki_smc_st_roll" value="$(arg ki_smc_st_roll)" />
        <param name="ki_smc_st_pitch" value="$(arg ki_smc_st_pitch)" />
        <param name="ki_smc_st_yaw" value="$(arg ki_smc_st_yaw)" />

        <param name="kj_smc_st_roll" value="$(arg kj_smc_st_roll)" />
        <param name="kj_smc_st_pitch" value="$(arg kj_smc_st_pitch)" />
        <param name="kj_smc_st_yaw" value="$(arg kj_smc_st_yaw)" />

        <param name="alpha0" value="$(arg alpha0)" />
        <param name="alpha1" value="$(arg alpha1)" />

        <param name="h0" value="$(arg h0)" />
        <param name="h1" value="$(arg h1)" />
    </node>

    <node pkg="crazyflie_copilot" type="crazyflie_copilot" name="crazyflie_copilot_node" if="$(arg use_copilot)" output="screen">
        <!-- <param if="$(eval arg('ids') != '')" name="ids" value="$(arg ids)" /> -->
        <rosparam if="$(eval arg('ids') != '')" param="ids" subst_value="true">$(arg ids)</rosparam>
        <param name="kp_xy" value="1.0" />
    </node>

    <!-- <include if="$(arg use_joy)" file="$(find crazyflie_server)/launch/cf_joy.launch"/> -->
    <!-- </group> -->
</launch>
